flask
flask-cors

# AWS SKD for Python ; we're using it to communicate with DynamoDB --->
boto3
# Documentation on Boto3 : https://boto3.amazonaws.com/v1/documentation/api/1.9.42/index.html
# <---

# Postgress RDS --->
psycopg2-pool
psycopg[pool, binary]
# <---

# Cognito --->
Flask-AWSCognito
python-jose
# <---

# OTEL packages for Honeycomb ; I've commented it out for now, since I am not sending OTEL traffic --->
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
# <---

# XRay --->
# aws-xray-sdk
# <---

# Cloudwatch Logs using Watchtower --->
watchtower
# <---

# Rollbar -->
blinker
rollbar
# <---
